.dot1 {
  height: 100px;
    width: 100px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    position: static
}

.dot2 {
  height: 100px;
    width: 100px;
    background-color:purple;
    position: relative;
    left: 465px;
    border-radius: 50%;
    display: inline-block;

}

.dot3 {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  position: relative;

  float: right;
}
