.dot1 {
  height: 100px;
    width: 100px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    position: static
}

.dot2 {
  height: 100px;
    width: 100px;
    background-color:purple;
    border-radius: 50%;
    float: right;

}

.dot3 {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 450px;
}
